<%- include('../includes/top.ejs') %>
<link rel="stylesheet" href="/shared.css">
<link rel="stylesheet" href="/products.css">
<link rel="stylesheet" href="/main.css">

</head>
<body>
    <%- include('../includes/nav.ejs') %>
    

    <div class="product-lists">
        <div class="product-items">
            <% if( products.length > 0) { %>  
            <% products.forEach ( product =>  {   %>
            <article class="product-item">
                <header class="product-item__header">
                    <h1 class="product-item__header-title"> <%=product.title%> </h1>
                </header>
                <div class="product-item__image">
                    <img src="<%=product.imageUrl%>" alt="<%=product.title%>" >
                </div>

                <div class="product-item__price">
                    <h2>Rs. <%=product.price%> </h2>
                </div>
                <div class="product-item-form">
                    <% if(isAuthenticated) {%>
                        <form action="/cart" method="POST" >
                            <input type="hidden" name="productId" value="<%= product._id%>" >
                            <Button class="btn-svg"   type="submit"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
                                <g>
                                    <path style="fill:#030104;" d="M25.856,10.641C21.673,19.5,20.312,19.5,19.5,19.5h-8c-2.802,0-4.949-1.648-5.47-4.2   c-0.016-0.078-1.6-7.853-2.005-10.025C3.826,4.21,3.32,3.5,1.5,3.5C0.671,3.5,0,2.829,0,2s0.671-1.5,1.5-1.5   c3.02,0,4.964,1.5,5.474,4.224c0.401,2.149,1.98,9.898,1.996,9.977c0.319,1.566,1.722,1.8,2.53,1.8h7.605   c0.817-0.878,2.679-4.261,4.038-7.141c0.354-0.749,1.249-1.068,1.997-0.716C25.89,8.997,26.21,9.891,25.856,10.641z M10.5,20.5   C9.119,20.5,8,21.619,8,23s1.119,2.5,2.5,2.5S13,24.381,13,23S11.881,20.5,10.5,20.5z M19.5,20.5c-1.381,0-2.5,1.119-2.5,2.5   s1.119,2.5,2.5,2.5S22,24.381,22,23S20.881,20.5,19.5,20.5z M14.663,12.344c0.1,0.081,0.223,0.12,0.346,0.12   s0.244-0.039,0.346-0.12c0.1-0.079,2.828-2.74,4.316-4.954c0.115-0.172,0.126-0.392,0.028-0.574   c-0.095-0.181-0.285-0.295-0.49-0.295h-2.226c0,0-0.217-4.291-0.359-4.49c-0.206-0.294-1.057-0.494-1.616-0.494   c-0.561,0-1.427,0.2-1.634,0.494c-0.141,0.198-0.328,4.49-0.328,4.49h-2.255c-0.206,0-0.395,0.114-0.492,0.295   c-0.097,0.182-0.086,0.403,0.028,0.574C11.816,9.605,14.564,12.265,14.663,12.344z"/>
                                </g>
                                </svg></Button>
                        </form> 
                        <% } %>
                        <form action="/details" method="POST" >
                            <input type="hidden" name="productId" id="productId" value="<%=product._id %>">
                            <Button  class="btn-svg" type="submit"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                           <g>
                               <g>
                                   <g>
                                       <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M256,480
                                           C132.288,480,32,379.712,32,256S132.288,32,256,32s224,100.288,224,224S379.712,480,256,480z"/>
                                       <circle cx="256" cy="256" r="32"/>
                                       <circle cx="368" cy="256" r="32"/>
                                       <circle cx="144" cy="256" r="32"/>
                                   </g>
                               </g>
                           </g>     
                           </svg>
                           </Button>
                        </form>
                        <form action="/admin/delete" method="POST">
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <Button class="btn-svg" type="submit">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 27.965 27.965" style="enable-background:new 0 0 27.965 27.965;" xml:space="preserve">
<g>
	<g id="c142_x">
		<path d="M13.98,0C6.259,0,0,6.261,0,13.983c0,7.721,6.259,13.982,13.98,13.982c7.725,0,13.985-6.262,13.985-13.982
			C27.965,6.261,21.705,0,13.98,0z M19.992,17.769l-2.227,2.224c0,0-3.523-3.78-3.786-3.78c-0.259,0-3.783,3.78-3.783,3.78
			l-2.228-2.224c0,0,3.784-3.472,3.784-3.781c0-0.314-3.784-3.787-3.784-3.787l2.228-2.229c0,0,3.553,3.782,3.783,3.782
			c0.232,0,3.786-3.782,3.786-3.782l2.227,2.229c0,0-3.785,3.523-3.785,3.787C16.207,14.239,19.992,17.769,19.992,17.769z"/>
	</g>
	<g id="Capa_1_104_">
	</g>
</g>

</svg>
                        </Button>
                        </form>
                </div>
                
            </article>
            <%  }) %>
            <% } else { %>
                <h2 style="color: rgb(194, 80, 80); border-radius: 5px; border:black solid 1px; padding: 1rem;">You have not added any Product.......</h2>
                <% } %>
        </div>
        <%- include('../includes/footer.ejs') %>
    </div>

    
   
    <%- include('../includes/bottom.ejs') %>